# This is Git's per-user configuration file.
[user]
	email = dat.n@sharering.network
	name = DatNguyen
	signingkey = 47BCF80E6276EFAA
[core]
	pager = delta
	editor = nvim
	excludesfile = ~/.gitignore_global
	hooksPath = /Users/nguyenthanhdat/.commitlint/hooks
[alias]
	a = add
	aa = add -A
	ae = add -e
	ai = add -i
	al = !git config --get-regexp ^alias\\. | sed -e s/^alias.// -e s/\\ /\\ $(printf \"\\043\")--\\>\\ / | column -t -s $(printf \"\\043\") | sort -k 1
	ap = add -p
	au = add -u
	b = branch
	ba = branch -a
	c = commit
	cam = commit -am
	cfix = commit --amend
	cl = clone
	clf = clean -f
	cln = clean -n
	cm = commit -m
	d = diff
	dh = diff HEAD
	ds = diff --staged
	f = fetch
	i = init
	ib = init --bare
	k = checkout
	kk = checkout .
	kb = checkout -b
	kt = checkout --theirs
	ko = checkout --ours
	l = log
	lg = log --graph --oneline --all --decorate
	lo = log --oneline
	ls = ls-files
	m = merge
	n = init
	o = show
	p = push
	pf = push --force
	rb = rebase
	rmc = rm --cached
	rs = reset
	rt = restore
	rv = revert
	s = status
	ss = stash
	u = pull
	root = !pwd
	patch = !git --no-pager diff --no-color
[pull]
	rebase = true
[init]
	defaultBranch = main

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    plus-style = syntax "#003a00"
    side-by-side = false
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
	colorMoved = default

[url "ssh://git@bitbucket.org/"]
	insteadOf = https://bitbucket.org/
[commit]
	gpgsign = true
